@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.title {
  width: 102px;
  height: 32px;
  left: 120px;
  top: 20px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #333333;
}

.ant-select-arrow {
    display: none;
}
.ant-select-selector {
    height: 40px;
}