.card {
    position: relative;
    text-align: center;
}
.card::after {
    content: '';
    position: absolute;
    right: 0;
    top: 38%;
    width: 1px;
    height: 28px;
    border-right: 1px solid #DDDDDD;
    box-sizing: border-box;
}
.ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
    background-color: #F8F8F8;
}

